services:
  caddy:
    image: caddy-with-extra-image:latest
    build:
      context: .
      dockerfile: Dockerfile
    container_name: caddy
    networks:
      - caddy_network
    restart: unless-stopped
    ports:
      - "80:80"
      - "443:443"
      - "443:443/udp"
    volumes:
      - ./config:/etc/caddy
      - ./static:/srv
      - caddy_data:/data
      - caddy_config:/config

volumes:
  caddy_data:
  caddy_config:

networks:
  caddy_network:
    name: caddy_network
    driver: bridge
    external: true
